<mat-toolbar [color]="(role === 'Customer') ? 'primary' : ''">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
  </button>
  <div>
    <span>Role</span>
    <button mat-button [matMenuTriggerFor]="roleMenu">{{this.role}}</button>
    <mat-menu #roleMenu="matMenu">
      <button mat-menu-item (click)="setRole('Customer')">Customer</button>
      <button mat-menu-item (click)="setRole('Load')">Load</button>
      <button mat-menu-item (click)="setRole('Checkout')">Checkout</button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-tab-group>
  <div *ngIf="this.tabs.vehicle">
    <mat-tab>
      <ng-template mat-tab-label>
        <span
          [matBadge]="customerVehiclesCount"
          matBadgeSize='small'
          [matBadgeColor]="(customerVehiclesCount > 0) ? 'primary' : 'warn'"
        >Vehicle</span>
      </ng-template>
      <div class="tab-container">
        <vehicles
          [vehicles]="vehicles"
          [selectedVehicles]="customerVehicles"
          [selectedVehiclesCount]="customerVehiclesCount"
          [userID]="customerID"
          idAttribute='customerID'
          (toggleVehicleSelection)="toggleCustomerVehicle($event)"
          label="Vehicle"
        ></vehicles>
      </div>
    </mat-tab>
  </div>

  <div *ngIf="this.tabs.products">
    <mat-tab [disabled]="this.customerVehiclesCount === 0">
      <ng-template mat-tab-label>
        <span
          [matBadge]="customerProductsCount"
          matBadgeSize='small'
          [matBadgeColor]="(customerProductsCount > 0) ? 'primary' : 'disabled'"
        >Products</span>
      </ng-template>
      <div class="tab-container">
        <products
          [products]="products"
          [loadedProducts]="customerProducts"
        ></products>
      </div>
    </mat-tab>
  </div>

  <div *ngIf="this.tabs.checkout">
    <mat-tab label="Checkout">
      <div class="tab-container">
        <h2>Checkout</h2>
      </div>
    </mat-tab>
  </div>

  <div *ngIf="this.tabs.pay">
    <mat-tab
      label="Pay"
      [disabled]="(this.customerProductsCount === 0 || this.customerUnweighedProductsCount > 0)">
      <div class="tab-container">
        <payment></payment>
      </div>
    </mat-tab>
  </div>

  <div *ngIf="this.tabs.load">
    <mat-tab label="Load">
      <div class="tab-container">
        <mat-accordion multi>

          <mat-expansion-panel [expanded]="loaderVehicleCount !== 1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="accordian-icon">local_shipping</mat-icon>
                Vehicle
              </mat-panel-title>
              <mat-panel-description>{{loaderVehicle[0]?.plate}}</mat-panel-description>
            </mat-expansion-panel-header>
            <vehicles
              [vehicles]="vehicles"
              [selectedVehicles]="loaderVehicle"
              [selectedVehiclesCount]="loaderVehicleCount"
              [userID]="loaderID"
              idAttribute='loaderID'
              (toggleVehicleSelection)="toggleloaderVehicle($event)"
              label="Vehicle"
            ></vehicles>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="loaderProductCount !== 1">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="accordian-icon">view_list</mat-icon>
                Product
              </mat-panel-title>
              <mat-panel-description>{{loaderProduct[0]?.name}}</mat-panel-description>
            </mat-expansion-panel-header>
            <h2>Select product below.</h2>
            <div class="products-container">
              <mat-card
                class="product-card"
                (click)="toggleLoaderProduct(product.id)"
                *ngFor="let product of products">
                <mat-card-header>
                  <mat-card-title>{{product.location}}</mat-card-title>
                  <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
                </mat-card-header>
                <!-- <mat-card-actions>
                  <button mat-raised-button>
                    Button
                  </button>
                </mat-card-actions> -->
              </mat-card>
            </div>
          </mat-expansion-panel>

        </mat-accordion>

        <button
          mat-raised-button
          id="load-button"
          color='primary'
          [disabled]="loaderVehicleCount !== 1 || loaderProductCount !== 1"
        >
          Load
        </button>
        <button
          mat-raised-button
          id="reset-button"
          color='warn'
          (click)="resetLoad()"
          [disabled]="loaderVehicleCount <= 0 && loaderProductCount <= 0"
        >
          Reset
        </button>
      </div>
    </mat-tab>
  </div>

</mat-tab-group>
