<banner>

</banner>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <span
        [matBadge]=this.selectedVehiclesCount
        [matBadgeColor]="(selectedVehiclesCount > 0) ? 'primary' : 'warn'"
      >
        Vehicles
      </span>
    </ng-template>
    <vehicles
      [vehicles]="vehicles"
      (toggleVehicleSelection)="toggleVehicleSelection($event)"
      label="Vehicle"
    >
    </vehicles>
  </mat-tab>
  <mat-tab>
  <ng-template mat-tab-label>
    <span
      matBadge=0
      matBadgeColor="primary"
    >
      Products
    </span>
  </ng-template>
    Products
  </mat-tab>
  <mat-tab
    label="Pay"
  >
    Blah
  </mat-tab>
</mat-tab-group>
