/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.vehicles-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.vehicle-card {
  width: 80%;
  flex: 0 0 auto;
  margin: 1rem;
}
